[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
pytest = "*"
marshmallow = "*"
flask-sqlalchemy = "*"
api = {editable = true, path = "."}
flask-jwt-extended = "*"
requests = "*"
alembic = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.9"
